.analysis-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.analysis-content {
	width: 95%;
	max-width: 70rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
	background-color: #f0f0f0;
	height: 95vh;
	overflow-y: scroll;
}
