.analysis-content {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--backgroundColor);
	overflow-y: scroll;
	color: white;
	height: 80vh;
	margin: .5em 1em 2em 1em;
}
