.analysis-container {
	width: 100%
}
.analysis-content {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--backgroundColor);
	overflow-y: scroll;
	color: white;
	height: 80vh;
	margin: .5em 1em 2em 1em;
	display: flex;
	justify-content: center;
}

.analysis-header {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.analysis-body {
	padding-bottom: 1em;
}

.bar-content {
	width: 40vw;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
}

.graph-data {
	height: 2rem;
	margin-bottom: .5em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 5em;
}

.graph-name {
	font-weight: bold;
}
