/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --header: #fff;
  --buttonSecondary: #03dac5;
  --food: #005f73;
  --utilities: #0a9396;
  --housing: #660000;
  --transportation: #94d2bd;
  --insurance: #ee9b00;
  --medical: #9b2226;
  --investments: #7851a9;
  --personal: #ca6702;
  --entertainment: #bb3e03;
  --misc: #ae2012;
  --transition: all 0.3s linear;
}

.dark-theme {
  --backgroundColor: #1f1a24;
  --navBackground: #1f1a24;
  --navText: #bb86fc;
  --navTextAlt: #03dac5;
  --mainBodyColor: #121212;
  --buttonPrimary: #bb86fc;
  --text: #000;
  --textAlt: #eee;
  --signOutBtn: #660000;
  --graphColor: #eee;
  --labelColor: #a7a7a7;
  --shadow: 0 2px 5px rgb(0, 0, 0);
}

.light-theme {
  --backgroundColor: #eee;
  --navBackground: #6200ee;
  --navText: #eee;
  --navTextAlt: #000;
  --mainBodyColor: #eee;
  --buttonPrimary: #6200ee;
  --text: #eee;
  --textAlt: #000;
  --signOutBtn: #b00020;
  --graphColor: #000;
  --labelColor: #a9a9a9;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--mainBodyColor);
}

h3 {
  color: var(--textAlt);
}

p {
  color: var(--textAlt);
}

a {
  color: black;
}

.btn {
  font-weight: bold;
  border: none;
  background: transparent;
  transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.btn-alt {
  background-color: transparent;
  border: none;
}

.btn-alt:hover {
  transform: translateY(-3px);
}

.btn-alt:active {
  transform: translateY(-1px);
}

input {
  font-size: 1.6rem;
  font-family: inherit;
  color: var(--textAlt);
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--textAlt);
  width: 90%;
  display: block;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid green;
}

input:focus:invalid {
  border-bottom: 3px solid #660000;
}

label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  color: var(--textAlt);
}

input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 0.7em 0.9em;
  vertical-align: middle;
  font-size: 1.6rem;
}

thead {
  background-color: var(--mainBodyColor);
  color: var(--textAlt);
  font-size: 1rem;
  position: sticky;
  top: 0;
}

td {
  border-bottom: 1px solid var(--borderColor);
  color: var(--textAlt);
}

.total-cost {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
}

.background-form {
  background-color: var(--borderColor);
}

.app-name {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.app-name h1 {
  color: var(--textAlt);
  font-weight: bold;
  font-size: 3rem;
}

.extra-space {
  height: 5rem;
}

@media only screen and (max-width: 810px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--graphColor);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid var(--graphColor);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
Label the data
	*/
  td:nth-of-type(1):before {
    content: "Category";
  }
  td:nth-of-type(2):before {
    content: "Name";
  }
  td:nth-of-type(3):before {
    content: "Price";
  }
  td:nth-of-type(4):before {
    content: "Month";
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
