.background-form {
	background-color: var(--borderColor);
}
.budget-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.budget-content {
	width: 95%;
	max-width: 70rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
	background-color: #f0f0f0;
	height: 95vh;
}

.budget-signout {
	display: flex;
	justify-content: flex-end;
}

.budget-header {
	display: flex;
	justify-content: center;
	padding-top: 3em;
	padding-bottom: 1em;
}

.budget-header h1 {
	font-size: 3rem;
	font-weight: bold;
	color: car(--borderColor);
}

