.budget-entry-container {
  display: flex;
  justify-content: center;
}

.budget-entry-content {
  width: 90%;
}

.budget-entry-form .field {
  margin-bottom: 1em;
}

.budget-entry-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.budget-entry-submit button {
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: var(--buttonPrimary);
  color: var(--text);
}

.category__row {
  display: flex;
  flex-flow: row wrap;
}

.form__radio-group {
  display: inline-block;
  margin: 0.5rem;
  flex: 0 1 calc(20% - 1rem);
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
  margin-left: 0 !important;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--textAlt);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem;
}

.form__radio-button::after {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--textAlt);
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
