.budget-entry-container {
	margin-top: 2em;
	display: flex;
	justify-content: center;
}

.budget-entry-content {
	height: 25vh;
	width: 80%;
	max-width: 50rem;
}

.budget-entry-form .field {
	margin-bottom: 1em;
}

.budget-entry-form .category-row-1 {
	margin-bottom: .2em;
}

.budget-entry-form label {
	color: #a7a7a7;
}

.budget-entry-form .input {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--highlightColor);
	font-size: 1.5rem;
}

.budget-entry-form .budget-entry-submit {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

.budget-entry-form .budget-entry-submit button {
	border-radius: 4px;
	font-size: 1rem;
	padding: .3em .5em;
}
