.background-form {
	background-color: var(--borderColor);
}
.budget-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.budget-content {
	width: 95%;
	max-width: 70rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
	background-color: #f0f0f0;
	height: 95vh;
	overflow-y: scroll;
}

.budget-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.budget-header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 3em;
	padding-bottom: 1em;
}

.budget-options {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.budget-options button {
	color: black;
	background-color: transparent;
	border: none;
	font-size: 1.3rem;
}

.budget-options button:hover{
	color: #988AB1;
	background-color: transparent;
}

.budget-header h1 {
	font-size: 3rem;
	font-weight: bold;
	color: var(--borderColor);
	overflow-wrap: break-word;
	cursor: pointer;
}

.budget-header h1:hover {
	color: #660000;
}

.budget-entry {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3em;
	cursor: pointer;
	color: #a7a7a7;

}

.new-budget {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3em;
	cursor: pointer;
	color: #a7a7a7;
	margin-top: 1em;
}

.new-budget .icon {
	font-size: 1.5rem;
	margin-right: .5em;
}

.budget-entry .icon {
	font-size: 1.5rem;
	margin-right: .5em;
}

.budget-entry::after {
	content: '';
	flex: 1;
	margin-left: 1em;
	margin-right: 2em;
	height: 2px;
	background-color: #a7a7a7;
}

.budget-signout button {
	background-color: #660000;
	border: 1px solid #660000;
}

.budget-signout button:hover {
	background-color: white;
	color: #660000;
}

.update-form {
	display: flex;
}

.update-form button {
	margin-left: 1em;
	border-radius: 4px;
}
