.devise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mainBodyColor);
  margin-top: -2rem;
}

.devise-content {
  width: 80%;
  max-width: 70rem;
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--backgroundColor);
  height: 70vh;
  position: relative;
}

.devise-header {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.devise-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--textAlt);
}

.field {
  margin-bottom: 5rem;
}

.devise-form {
  padding: 5rem 2rem 0.5rem 2rem;
}

.devise-form label {
  color: var(--labelColor);
}

.devise-form input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--textAlt);
  font-size: 1.6rem;
  color: var(--textAlt);
}

.submit-area {
  display: flex;
  justify-content: center;
}

.submit-area button {
  width: 80%;
  font-size: 2rem;
  border-radius: 4px;
  padding: 0.5rem 0 0.5rem 0;
  background-color: var(--buttonPrimary);
  color: var(--text);
}

.submit-area button:hover {
  background-color: var(--buttonSecondary);
}

.toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem 3rem;
}

.toggle a {
  color: var(--textAlt);
  text-decoration: none;
  font-size: 1.6rem;
}
