.error-container {
	display: flex;
	justify-content: center;
}

.error-content {
	margin-top: 5em;
	width: 95%;
	max-width: 70rem;
	box-shadow: var(--shadow);
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--backgroundColor);
	height: 50vh;
	max-height: 50vh;
	overflow: auto;
	color: var(--textAlt);
	padding: 2em 3em;
	font-size: 2rem;
}

.error-btn {
	color: var(--buttonPrimary);
}
