.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1em 2em;
	background-color: var(--borderColor);
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-left {
	cursor: pointer
}

.nav-pages {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	background-color: var(--borderColor);
	padding: 1em 2em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
}

.nav-pages div {
	margin-bottom: 1em;
}

.nav-pages a {
	color: white;
	text-decoration: none;
}

.nav-pages a:hover {
	color: #660000;
}

.nav-pages span {
	color: white;
}

