.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2em 0 2em;
	width: 100%;
	background-color: var(--backgroundColor);
	font-size: 1.5rem;
	font-weight: bold;
	height: 10vh;
}

.nav-left {
	cursor: pointer
}

.nav-left .dd-header {
	color: white;
	font-size: 2rem;
}

.nav-center h1 {
	color: white;
	font-size: 2rem;
}

.nav-pages {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
}

.nav-pages a {
	color: black;
	text-decoration: none;
}

.nav-pages span {
	color: black;
}

.nav-page {
	background-color: var(--buttonPrimary);
	padding: .2em .3em;
}

