.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mainBodyColor);
}

.profile-content {
  width: 95%;
  max-width: 70rem;
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--backgroundColor);
  height: 95vh;
  overflow-y: scroll;
}

.profile-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.profile-base-info {
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 1em 2em;
  margin: 1em 2em;
  width: 50%;
  color: var(--textAlt);
  word-wrap: break-word;
}

.profile-base-info p {
  font-size: 1.5rem;
}

.profile-base-info span {
  font-weight: bold;
}

.delete-profile button {
  padding: 1em 2em;
  margin: 1em 2em;
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: var(--signOutBtn);
  color: white;
  border: 1px solid var(--signOutBtn);
}

.delete-profile button:hover {
  color: var(--textAlt);
  background-color: var(--text);
}

.update-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  cursor: pointer;
  color: var(--labelColor);
  margin-top: 3em;
}

.profile-update-container {
  display: flex;
  justify-content: center;
}

.profile-update-content {
  height: 25vh;
  width: 80%;
  max-width: 50rem;
}

.profile-update-form .field {
  margin-bottom: 1em;
}

.profile-update-form .profile-update-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.profile-update-form .profile-update-submit button {
  background-color: var(--buttonPrimary);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.3em 0.5em;
}
