.tab-nav {
	display: flex;
	flex-wrap: wrap;
}

.tab-nav li {
	font-weight: bold;
	padding: .5em 1em;
	background-color: var(--buttonPrimary);
	color: var(--text);
	cursor: pointer;
}

.tab-nav li.active {
	background-color: var(--buttonSecondary);
	color: var(--text);
	border-bottom: transparent;
}

.outlet {
	dispay: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
