.tab-nav {
	display: flex;
	flex-wrap: wrap;
}

.tab-nav li {
	border: 1px solid black;
	font-weight: bold;
	padding: .5em 1em;
	background-color: black;
	color: white;
	cursor: pointer;
}

.tab-nav li:hover {
	background-color: white;
	color: var(--buttonColor);
}

.tab-nav li.active {
	background-color: #f0f0f0;
	color: black;
	border-bottom: transparent;
}

.tab-nav li.active {
	background-color: #f0f0f0;
	color: black;
	border: transparent;
}

.outlet {
	dispay: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
